!!! 5
%html
  %body
    %p Hello #{@user.full_name},
    %p We tried to charge your credit card for your subscription but was unsuccessful. Please update your credit card information to avoid service disruption.