%section.reset_password.container
  .row
    .span10.offset1
      = form_tag update_password_reset_path(@token), method: :put, class: "sign_in" do |f|
        %header
          %h1 Reset Your Password
        %fieldset
          = label_tag :password, "New Password"
          = password_field_tag :password
        %fieldset.action
          = submit_tag "Reset Password", class: 'btn'
