%section.reset_password.container
  .row
    .span10.offset1
      %form.sign_in
        %header
          %h1 Reset Password
        %fieldset
          %label Password
          %input(type="password")
        %fieldset
          %label Password Confirmation
          %input(type="password")
        %fieldset.action
          %input(type="submit" value="Reset Password" class="btn")
